@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Work+Sans&display=swap');

#emailError{
    margin: unset;
    font-size: 0.9rem;
}
.input-field::placeholder {
    color: rgba(255, 255, 255, 0.305);
     
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 414px) {
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        position: fixed;
    }

    #main {
        height: 100vh;
        background-color: #4E5BEE;
        border-radius: 1rem;
    }

    #landing {
        box-sizing: border-box;
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #img {
        margin-bottom: 3rem;

    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .input-field {
        color: white;
        box-sizing: border-box;
        height: 3.5rem;
        width: 20rem;
        border: 3px solid white;
        border-radius: 4em;
        background-color: #4E5BEE;
        padding: 1rem;

    }

    .input-field:focus {

        outline-style: none;
        /*MUITO IMPORTANTE SABER*/
        transition: 0.3s;
        transform: scale(1.05);
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.606);
    }

    #password-input::placeholder{
        color: white;
        background-repeat: no-repeat;
        background-position:right;
        background-size: 1.2vh auto;
        background-image:url('../imgs/lock_24px.png') ;
    }
    #email-input::placeholder{
        color: white;
        background-repeat: no-repeat;
        background-position:right;
        background-size: 1.2vh auto;
        background-image:url('../imgs/Subtract.png') ;
    }

    #enter-btn {
        background-color: white;
        font-size: 1.25rem;
        height: 3.5rem;
        width: 20rem;
        border-radius: 4em;
        border: 0;
    }

    #enter-btn:hover {
        background-color: rgba(255, 255, 255, 0.551);
        transition: 0.003s;
        transform: scale(1.03);
        /* box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.606); */
    }

    .input-field,
    #enter-btn {
        margin: 0.5rem
    }

    footer {
        color: white;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }

    footer span {
        text-decoration: underline;
    }

    footer a {
        color: white;
        text-transform: none;
    }
}

@media only screen and (max-width : 375px) {
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        position: fixed;
    }

    #landing {
        box-sizing: border-box;
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #enter-btn:hover {
        background-color: rgba(255, 255, 255, 0.551);
        transition: 0.003s;
        transform: scale(1.03);
    }
    
}

@media only screen and (max-width : 375px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-field {
        color: white;
        box-sizing: border-box;
        height: 3.5rem;
        width: 16rem;
        border: 3px solid white;
        border-radius: 4em;
        background-color: #4E5BEE;
        padding: 1rem;

    }

    .input-field:focus {

        outline-style: none;
        /*MUITO IMPORTANTE SABER*/
        transition: 0.3s;
        transform: scale(1.05);
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.606);
    }


    #enter-btn {
        background-color: white;
        font-size: 1.25rem;
        height: 3.5rem;
        width: 16rem;
        border-radius: 4em;
        border: 0;
    }

    #enter-btn:hover {
        background-color: rgba(255, 255, 255, 0.551);
        transition: 0.003s;
        transform: scale(1.03);
    }

    .input-field,
    #enter-btn {
        margin: 0.5rem
    }
}
